# Ignore any pestcontrol files.
*.ant
# Ignore any output files generated.
*.out
*.txt
*.rst

# Make sure the crunchData directory is tracked, however.
!crunchData/**/*

# Ignore osx file system database.
.DS_Store

